@import url('bootstrap/dist/css/bootstrap.min.css');
@import url('navBar.css');
@import url('App.css');
@import url('footer.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css');
@import url('match.css');
@import url("matchPage.css");
@import url("homePage.css");
@import url("matches.css");
@import url("login.css");
@import url("userPage.css");
@import url("buyTicket.css");
@import url("singleMatch.css");
@import url("chat.css");
@import url("thankYou.css");
@import url("unauthorized.css");

*{
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 500;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
