.matches-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 20px;
    border: 1px solid #C6D9E2;
    border-radius: 5px;
    background-color: #103C5A;
}

.matches-header{
    font-size: 24px;
    margin-bottom: 20px;
}

