.match-item{
    list-style-type: none;
    border-radius: 20px;
    background-color: #C6D9E2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    width: 700px;
    height: 330px;
}

.match-item:hover{
    cursor: pointer;
    background-color: #D2C2C5;
}

.match-details{
    font-size: 25px;
}

.match-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.team-logo{
    width: 100px;
}

